@namespace landing_page_isis.Components.Helpers
@typeparam TItem

@if (ShowCreateButton)
{
    <div class="d-flex justify-end mb-4">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Secondary"
                   Size="Size.Large"
                   Class="px-10 py-3"
                   Style="font-weight: bold; border-radius: 8px;"
                   OnClick="@(() => OnCreate.InvokeAsync())">
            Criar
        </MudButton>
    </div>
}
<MudTable ServerData="@ServerData" @ref="_table" Hover="true" Elevation="2" Class="mud-theme-secondary">
    <HeaderContent>
        @HeaderColumns
        <MudTh Style="text-align: right;">Ações</MudTh>
    </HeaderContent>

    <RowTemplate Context="item">
        @RowColumns(item)
        <MudTd DataLabel="Ações" Style="text-align: right;">
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                @if (OnEdit.HasDelegate)
                {
                    <MudMenuItem OnClick="@(() => OnEdit.InvokeAsync(item))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="me-2"/> @EditText
                    </MudMenuItem>
                }

                @if (CustomActions != null)
                {
                    @CustomActions(item)
                }

                @if (OnDelete.HasDelegate)
                {
                    <MudMenuItem OnClick="@(() => OnDelete.InvokeAsync(item))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" Class="me-2"/> Excluir
                    </MudMenuItem>
                }
            </MudMenu>
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <MudTablePager RowsPerPageString="Itens por página:"
                       InfoFormat="{first_item}-{last_item} de {all_items}"/>
    </PagerContent>
</MudTable>

@code {
    private MudTable<TItem> _table = null!;

    [Parameter] public Func<TableState, CancellationToken, Task<TableData<TItem>>> ServerData { get; set; } = null!;
    [Parameter] public RenderFragment HeaderColumns { get; set; } = null!;
    [Parameter] public RenderFragment<TItem> RowColumns { get; set; } = null!;
    [Parameter] public RenderFragment<TItem>? CustomActions { get; set; }

    [Parameter] public EventCallback<TItem> OnEdit { get; set; }
    [Parameter] public EventCallback<TItem> OnDelete { get; set; }
    [Parameter] public EventCallback OnCreate { get; set; }
    [Parameter] public string EditText { get; set; } = "Editar";
    [Parameter] public bool ShowCreateButton { get; set; } = true;

    public Task ReloadAsync() => _table.ReloadServerData();
}